<form method="post" action="{{ path('event_delete', {'id': event.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet évènement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button  aria-label="Supprimer l'évènement" data-balloon-pos="up" class="inline-block p-3 text-center text-white transition bg-red-500  shadow ripple hover:shadow-lg hover:bg-red-600 focus:outline-none">
        <i  class="far fa-trash-alt"></i>
    </button>
</form>