{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% include "layout/header.html.twig" %}

    <section class="w-full py-8 bg-gray-100 text-gray-900 pt-20">
        <div class="mx-auto flex shadow-lg rounded-lg bg-white lg:w-3/4">

            <div class="w-1/2 p-8 rounded-lg md:flex flex-col bg-gray-50">
                <p class="text-xl font-bold mb-4 text-blue-500">Berville</p>
                <img class="rounded-lg h-full object-cover object-center" src="{{ asset('images/judo-login.jpg') }}" alt={"judo"}>
            </div>

            <div class="w-full md:w-1/2 p-8 flex flex-col">
                <p class="text-3xl font-bold mb-2 text-gray-700">Se connecter au club</p>
                <p class="text-sm font-medium text-gray-400">
                    Vous n'avez pas de compte ? <a href="{{ path('app_register') }}" class="text-blue-500">S'inscrire</a>
                </p>
                {% if error %}
                    <div class="mt-4 px-4 py-3 leading-normal text-red-100 bg-red-700 rounded-lg" role="alert">{{ error.message }}</div>
                {% endif %}

                <form method="post" class="flex text-gray-400 font-medium flex-col">
                    <label for="email" class="uppercase mt-4">email</label>

                    <input
                            class="border px-4 ring-2 focus:ring-blue-300 ring-transparent transform duration-200 ease-in-out py-2 rounded-lg focus:outline-none"
                            type="email"
                            name="email"
                            id="email"
                            placeholder="adresse email"
                            required autofocus
                    >
                    <label for="password" class="uppercase mt-4">Mot de passe</label>

                    <input
                            class="border px-4 ring-2 focus:ring-blue-300 ring-transparent transform duration-200 ease-in-out py-2 rounded-lg focus:outline-none"
                            type="password"
                            name="password"
                            id="password"
                            placeholder="Mot de passe"
                            required
                    />
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <button class="h-16 bg-gradient-to-br from-blue-500 to-purple-600 rounded-lg p-4 text-white mt-4">
                        Se connecter
                    </button>
                </form>
            </div>
        </div>
    </section>

    {% include "layout/footer.html.twig" %}
{% endblock %}
