<h1>Bonjour! Votre inscription sur <a href="https://www.berville-judo-club.fr">Club de judo de Berville</a> est validé par l'administrateur</h1>

<p>
    Vous pouvez vous connectez dès maintenant et y remplir votre profile.
</p>

<p>
    On vous attends!
</p>