<form method="post" action="{{  path('partner_delete', {'id': partner.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce partenaire ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    <button  aria-label="Supprimer le partenaire" data-balloon-pos="up" class="inline-block p-3 text-center text-white transition bg-red-500  shadow ripple hover:shadow-lg hover:bg-red-600 focus:outline-none">
        <i  class="far fa-trash-alt"></i>
    </button>
</form>