{% extends 'base.html.twig' %}

{% block title %}Les événements{% endblock %}

{% block body %}
    {% include "layout/header.html.twig" %}
     <section class="w-full flex py-8 bg-gray-100 text-gray-900 pt-20 justify-center">
        <div id="map"></div>
     </section>
    {% include "layout/footer.html.twig" %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/maps.js') }}" type="text/javascript"> </script>
{% endblock %}