{% extends 'base.html.twig' %}

{% block title %}Les évènements{% endblock %}

{% block body %}
    {% include "layout/header.html.twig" %}
            <h2 class="text-1xl mt-8 ml-8 font-bold leading-7 text-gray-700 sm:text-3xl sm:truncate">Les prochains évènements</h2>
            <div class="mt-4">
            </div>
    {% if events|length == 0 %}
        <div class="bg-blue-100 rounded-lg py-5 px-6 mb-4 text-base text-blue-700 mb-3 text-center mt-5" role="alert">
            Pas d'évènements prévus pour ce mois-ci !
        </div>
    {% else %}
    {% endif %}
    {% include "layout/footer.html.twig" %}
{% endblock %}
